* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

main {
  width: 75%;
}

.center {
  display: flex;
  justify-content: center;
}

.validation-message {
  font-family: sans-serif;
  color: #8c1717;
  margin-top: 10px;
}

.form, #inputImage {
  width: 100%;
  max-width: 60rem;
}

.bg-trans-white {
  background: rgba(255,255,255,.5);
}






